/* Reset de base */

body {
    margin:0
}

/* Menu */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFEEE8
}

navbar {
  display: flex;
  align-items: center;
}

navbar a {
  margin-right: 20px;
  color: #3A2F2F;
  font-size: 16px;
  font-family: Noto Sans, sans sérif;
}

.login a {
  background-color: #A84C27;
  color: #FFF9F7;
  border-radius: 6px;
  padding: 6px 10px;
}

/* Généralité du texte */

body {
  color: #3A2F2F;
  font-family: Noto Sans, sans-serif; 
  font-size : 16px
}

h1 {
  font-family: Playfair Display, sérif;
  font-size: 30px;
}

h2 { font-family : Playfair Display, sérif;
   font-size: 24px}

/* Généralité couleurs */

body {
  background-color :#FFF9F7
}

/* Bannière */

.pub {
  position: relative;
  height: 250px;
  background-image: url("../Sources/Fond page d'accueil.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pub::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.pub-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  padding: 0 20px;
  text-align: center;
  color: #FFF9F7;
}

.pub-content h1 {
  font-size: 36px;
}

.pub-content p {
  font-weight: bold;
}

.pub-content button {
  background-color: #A84C27;
  padding: 6px 10px;
  border-radius: 6px;
  border-width: 0;
  color: #FFF9F7;
  font-weight: 550;
}

button:hover {
  background-color:#74351C
}

/* Description */

.description {
  display: flex;
  background-color: #FFF9F7;
  justify-content: space-between;
  height: 250px;

}

.description-content {
  position : relative;
  max-width: 500px;
  padding: 10px 200px;
  text-align: center
}

.description img {
  padding: 20px 70px;
  width: 300px;
  height: 200px;
  
}


/*qualité*/ 

.qualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color : #FFEEE8;
  height:250px;
}

.cards {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card1, .card2, .card3 {
  background-color:#FFF9F7;
  padding: 0px 20px;
  margin: 0px 80px;
  border-radius: 6px;
  text-align: center;
  max-width: 200px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25)
}


.qualite h2 {
  font-size: 18px;
  font-weight: 550
}

.icone { 
  display:flex;
justify-content: center;
  margin-top: 5px;
  color: #A84C27;
}

.icone svg {
width: 25px;
height: 25px;
color: #A84C27
}

/*avis*/

.avis {
  display:flex;
  flex-direction: column;
  align-items:center;
  height: 250px;
  background-color: #FFF9F7
}

.avis-content {
  display: flex;
  justify-content: space-between;
}

.avis1, .avis2, .avis3 {
  background-color: #FFEEE8;
  padding: 10px 20px;
  margin: 20px 80px;
  border-radius: 6px; 
  max-width: 250px;
  text-align: center;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 2px
}

.stars svg {
  width: 16px;
  height:16px;
  color: #FDC84D
}

.avis-content span {
  font-style: italic;
  font-size: 14px; 
  
}



/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items : center; 
  background-color:#FFEEE8;
  height:150px
}

.mentions {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 70px;
}

.mentions a {
  color : #3A2F2F;
  font-size: 14px;
  margin-bottom: 20px;
}

.horaires {
  display : flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left:70px;
}

.horaires p {
  margin-top:0px;
  margin-bottom: 10px;
  font-size: 14px;
}

.horaires-content span {
  margin-top: 20px;
  font-style: italic;
  font-size: 12px
}

.horaires h2 {
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 14px;
  font-weight: 550;
}

/* Page des menus */ 

.mainmenu {
  display: flex;
  flex-direction: row;
}

.menus-content img { 
  width: 350px;
  height: 250px;
  border-top-left-radius: 6px;
  border-top-right-radius:6px;
}

.card-content { 
  display: flex;
  flex-direction: column;
  flex:1;
  
}

.menus h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom:  20px;
}

.menus-content {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.menu { 
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: #FFEEE8;
  border-radius: 6px;
  margin-bottom:50px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

.menu p { 
  max-width: 300px;
 text-align: start;
 margin-left: 20px}

.menu h2 {
  text-align : center;
}

.menu a {
  display: block;
  color : #3A2F2F;
  font-size: 14px; 
  margin-right: 10px;
  text-align: right;
  margin-top: auto;
}

.menu svg {
  width: 15px;
  height:15px;
  color: #3A2F2F;
}

.personnes {
  display: flex;
  align-items: center;
}

/* Login */


.mainlogin {
  position: relative;
  height:80vh;
  background-image: url("../Sources/Fond page d'accueil.jpeg");
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.mainlogin::before {
  content:"";
  position:absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);

}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50%;
  width: 40%;
  padding: 40px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  background-color: #FFEEE8;
  border: 2px solid #3A2F2F

}

.form::before {
  content:"";
  position: absolute;
  inset:0;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.form fieldset {
  height: 60%;
  width: 50%;
  display: flex; 
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  box-shadow:  4px 4px rgba(0,0,0,0.25);
  border-radius: 25px;
  border: none;

}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform a {
  color:#3A2F2F;
  font-size: 14px;
  
}

.loginbtn input {
  background-color: #A84C27;
  border-radius: 25px;
  align-items: center;
  padding: 8px;
  border: none;
  color: #FFF9F7;
  width: 110px; 
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25) ;
}

.loginform legend {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.field {
  padding: 10px;
}

.field input {
  margin-top: 5px;
  border-radius: 25px;
  border:none;
  height: 20px;
  width: 170px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25) ;
  max-width: 200px;

}

.toolbar { 
  display: flex ;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding : 30px;
  margin-top: 50px;
}

.sort { 
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #FFEEE8;
  border-radius: 6px;
  margin-bottom:50px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

.sortfilter {
  display: flex;
  align-items: center;
}

.sortfilter p {
  margin-left: 8px;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFEEE8;
  border-radius: 6px;
  margin-bottom:50px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

.filter { 
  padding: 15px;
  height: 40px;
}

.filter select, .filter input {
  margin-top: 8px;
}



/* Page user */

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFF9F7;
    color: #3A2F2F;
}

.dashboard {
    display: flex;
    padding: 40px 60px;
    gap: 40px;
}

.sidebar {
    width: 250px;
    height: 450px;
    background: #FFEEE8;
    padding: 20px;
    border-radius: 12px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar button:hover {
  border: 0;
  border-radius: 25px;
}

.sidebar .active {
    color:#A84C27 ;
}


.content {
    flex: 1;
}

.order-card , .order-card-finish {
    background: #FFEEE8 ;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.order-card h3 , .order-card-finish h3 {
    font-family: 'Playfair Display', serif;
}

.timeline {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.timeline span {
    padding: 6px 12px;
    border-radius: 20px;
    background: #FFF9F7;
    font-size: 13px;
}

.timeline .done {
    background: #6B8E23;
    color: #FFF9F7;
}

.timeline .current {
    background: #A84C27;
    color: #FFF9F7;
}


.actions {
    margin-top: 15px;
}

.btn-primary {
    background: #A84C27;
    border: none;
    padding: 10px 20px;
    color: #FFF9F7;
    border-radius: 25px;
}

.btn-secondary {
    background: #A84C27;
    border: none;
    color: #FFF9F7;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 10px;
}


.review textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.review .stars svg:hover {
  color: #FDC84D;

}

.infos-card {
    background: #FFEEE8;
    padding: 20px;

}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.label {
    font-weight: 600;
    width: 100px;
}

.value {
    flex: 1;
    margin-left: 0;
}

input {
    flex: 1;
    padding : 8px , 12px;
    font-family: 'Noto Sans', sans-serif;
}

.hidden {
    display: none;
}

/* Page de contact */

.contact_form { 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_content {
  background: #FFEEE8 ;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}

.field textarea {
  margin-top: 5px;
  border-radius: 25px;
  border:none;
  height: 20px;
  width: 170px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25) ;
}

.field { 
  display: flex;
  align-items: center;

}

.field label { 
  margin-right: 10px;
}

